.footer {
  background: #262b2e;
  padding: 30px 0;
  text-align: center;
  color: #fff;

  @include media('>=tablet') {
    padding: 90px;
  }
}

.copyright {
  color: rgba(white, 0.4);
  font-weight: 500;
}

.socials {
  color: rgba(white, 0.8);
  margin-bottom: 40px;

  p {
    margin-bottom: 10px;
  }

  ul {
    @extend %listreset;

    li {
      display: inline-block;
      width: 45px;
      height: 40px;
      position: relative;
      text-align: center;
      line-height: 40px;
      margin: 0 4px;
    }

    a {
      width: 100%;
      height: 100%;
      background: #424648;
      color: #bbb8b9;
      display: inline-block;
      position: relative;
      font-size: 24px;

      svg {
        vertical-align: top;
        margin-top: 8px;
      }

      &:hover {
        background: #6eeee4;
        color: #262b2e;
      }
    }

    span {
      @extend .visuallyhidden;
    }
  }
}