.container {
  margin: 0 auto;
  max-width: ($container-width + $gutter * 2);
  padding: 0 $gutter;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}