.testimonials {
  text-align: center;
  background: $bg-light;

  .person-position {
    text-transform: uppercase;
  }
}

.rating {
  @extend %listreset;
  color: $yellow;

  li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px;
  }
}

